
body {
	color: whitesmoke;
	background-color: black;
}

.topContainer {
	gap:  15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 15px;
}

.header {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

body h1 {
	text-align: center;
	font-size: xxx-large;
	margin-bottom: 10px;
}


button {
	background-color: black;
	color: whitesmoke;

}

button:hover {
	background-color: white;
	color: black;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 120px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.buttons button{
	font-size: large;
	padding: 5px;
	background-color: black;
	color: white;
	border-color: white;
}

.buttons button:hover {
	background-color: white;
	color: black;
}

.viewBox {
	padding: 15px;
	text-align: center;
	flex: auto;
	display: flex;
	flex-direction: column;
	flex: auto;
	height: 500px;
	width: 900px;
	border: solid;
	border-width: thin;

}

.formContainer {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:  10px;
}

#formTitle {
	margin-bottom: 5px;
	font-size: 20px;
}

.btnCointainer {
	gap: 200px;
	flex: 1;
	display: flex;
	justify-content: center;
}

.btnCointainer button {
	margin-top: 10px;
	font-size: 16px;
	border-radius: 3px;
	padding: 5px;
}


.displayTitle {
	font-size: 20px;
}


.library {
	/*align-items: stretch;*/
	flex: 1;
	flex-wrap: wrap;
	/*flex: auto;*/
	display: flex;
	/*flex-direction: column;*/
	/*justify-content: center;*/
	justify-items: center;
	/*text-align: center;*/
	/*height: 800px;*/
	/*height: auto;*/
	/*width: 1500px;*/
	/*width: auto;*/
	border: solid;
	padding: 15px;
	/*gap: 20px;*/
}

.listContainer {
	flex: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 25px;
}

.listContainer h3 {
	text-decoration: underline;
	margin-bottom: 5px;
}

.list {
	text-decoration: none;
	font-size: 20px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
	align-items: center;

}

.list li {
	display: flex;
	text-align: center;
	justify-content: center;
	border: solid;
	border-width: thin;
	border-color: grey;
	border-radius: 5px;
	padding: 7px;
}

.list button {
	padding: 7px;
	border-radius: 5px;
	font-size: 20px;

}

.list li:hover {
	border-color: whitesmoke;
	background-color: whitesmoke;
	color: black;
}

.list li:active {
	text-decoration: underline;
}
#credits {
	text-align: center;
}